page-acknowledge {

    .ion-card-header {
        background-color: rgb(85, 85, 78);
    }
    
    .h2 {
      color:white;
    }

    .ion-card-content {
        background-color: rgb(231, 231, 231);
    }

    .ion-button {
        background-color: rgb(66, 212, 46);
    }

    .ion-button1 {
        background-color: rgb(231, 7, 7);
    }
}
