page-admin-contractor {

    .ion-card-header{
        background: rgb(240, 239, 239)
    }

    
    .ion-icon {
        font-size: 25px;
        color:#22b573;
        background-color: white;        
    }

}
