page-report {
    .ion-card-header {
        background-color: rgb(85, 85, 78);
    }
    
    .h2 {
      color:white;
    }

    .bg {
      background-color: rgb(231, 231, 231);
    }

    .ion-card-content {
        background-color: rgb(231, 231, 231);
    }

}
