page-work-task {

    

    .col-head{
        background-color: rgb(85, 85, 78);
        color: white;
        
    }

    .col-1{
        background-color: lightgrey;
        
    
    }

    .image {
        border-radius: 7px;
        
    }

    .ion-card-content {
        background-color: rgb(231, 231, 231);
    }
}