
<ion-header>

    <ion-navbar color="turquoise">
    <ion-title class>New Checklist</ion-title>
    </ion-navbar>
    </ion-header>

  <ion-content>
    <ion-card>

      <ion-grid>
      <ion-row>
        <ion-col col-8><b>CHECKLIST</b></ion-col>
        <ion-col><b>PASS/FAIL</b></ion-col>
      </ion-row>
      </ion-grid>

      <ion-list>
        <ion-item>
          <ion-label>Safety Vest</ion-label>
          <ion-select [(ngModel)]="safety">
              <ion-option value="pass">Pass</ion-option>
              <ion-option value="fail">Fail</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Traffic Cones</ion-label>
          <ion-select [(ngModel)]="cones">
              <ion-option value="pass">Pass</ion-option>
              <ion-option value="fail">Fail</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Traffic Barriers</ion-label>
          <ion-select [(ngModel)]="barriers">
              <ion-option value="pass">Pass</ion-option>
              <ion-option value="fail">Fail</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Traffic Signages</ion-label>
          <ion-select [(ngModel)]="signage">
              <ion-option value="pass">Pass</ion-option>
              <ion-option value="fail">Fail</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Blinkers/Flashing</ion-label>
          <ion-select [(ngModel)]="blinkers">
              <ion-option value="pass">Pass</ion-option>
              <ion-option value="fail">Fail</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Flagman</ion-label>
          <ion-select [(ngModel)]="flagman">
              <ion-option value="pass">Pass</ion-option>
              <ion-option value="fail">Fail</ion-option>
          </ion-select> 
        </ion-item>


      </ion-list>
    </ion-card>

    <ion-card >
      <ion-card-header class="ion-card-content">Comment/Others</ion-card-header>
      <ion-card-content>
        <ion-textarea rows="4" cols="60" class="textarea" [(ngModel)]="comment" placeholder="Comment here"></ion-textarea>
        <ion-slides *ngIf = "images!= null && images.length != 0" slidesPerView = "3" pager = "ture" paginationType = "fraction">
            <ion-slide *ngFor = "let image of images">
                <img style="padding: 8px" src="{{image}}">
            </ion-slide>
        </ion-slides>
      </ion-card-content>
    </ion-card>

      

      <div text-right>
      <button color="turquoise" ion-button icon-right  (click)="captureProfile()">Upload Image</button> 
      <button ion-button (click)="submit()">Submit Report</button>
      </div>

   
  </ion-content>
  

   

