page-adminstaff {

    .card1 {
       position: absolute;
       top: 9%;
       left: 40%;
       font-size: 1.0em;
       width: 100%;
       font-weight: lighter;
       color:#fff;
    }

    .card2 {
        position: absolute;
        bottom: 68%;
        left: 40%;
        font-size: 1.0em;
        width: 100%;
        font-weight: lighter;
        color:#fff;
     }

    

    
    
}
