page-info {

    .ion-card-header {
        background-color: rgb(85, 85, 78);
    }
    
    .h2 {
      color:white;
    }

    .ion-card-content {
        background-color: rgb(231, 231, 231);
    }

    .image {
        border-radius: 5px;
        
    }
}
