page-register1 {

    .item{

        background: rgba(170, 169, 169, 0.5);
        
    }
    .add-btn {
        height: 30px;
        width: 75px;
        margin-top: -5px;
        margin-left: 10px;
    }

    

}
