page-companies {
    .ion-card-header {
        background-color: rgb(85, 85, 78);
    }
    
    .h2 {
      color:white;
    }

    .h3 {
        color:white;
        font-size: 13px;
      }

      .ion-button {
        background-color: #22b573;
        text-align: center;
        width: 30%;
      }

}
