page-new-checklist {
    
    .col-head{
        font-size: 15px;
    }

    .textarea{
        background-color: white;
        border-radius: 5px;
    }

    
    .ion-card-content {
        background-color: rgb(231, 231, 231);
    }

}
